<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
  <div class="header-left">
    <img src="../images/logo.png" alt="HireSphere Logo" class="logo">
    
  </div>
  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
  </nav>
  <button id="darkToggle" aria-label="Toggle dark mode">🌙</button>
</header>


</body>
</html>